/* @import "/public_html/site/css/style.css"; */
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#er{
    border: 1px solid red ;
    background: #f3e8e8;
    padding: 5px;
    box-sizing: border-box;
    color: red;
}
body{
    color: #3a3a3a;
}
table{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;

}
th{
    background: #e1e1e1;
    font-size: 14px;
    font-weight: bold;
}
td{
    font-size: 14px;
    font-weight: bold;
}
tr:nth-child(odd) {
    background: #f8f8f8;
}
 td ,th{
    padding: 10px 20px;
}
.subitem{
    line-height: 30px;
    border-radius: 10px;
    margin: 5px 0;
}
.subitem.active{
    background: #e1e1e1;

}
.mactive{
    cursor: pointer;
    padding: 10px;
    display: block!important;
    border-radius: 9px;
    justify-content: space-between;
    align-items: center;
    background: #06b3f3;
    color: #333;
    transition: all 0.3s ease-in-out;
}
.login_forms_box input[type="submit"],.btn1{width: 100%;height: 50px;position: relative;text-align: center;
    background: #00b0f1;border: 1px solid #00b0f1;cursor: pointer;font-size: 16px;
    border-radius: 25px;
    display: inline-block;
    line-height: 40px;
    margin-top: 10px;
    }

